#basic-nav-dropdown {
  color: hsl(240, 2%, 90%);
  font-weight: 700;
  margin-right: 30px;
  position: relative;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
}

.dropdown-item {
  transition: font-weight 300ms ease-out;
}

.dropdown-item:hover {
  background-image: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(208, 49%, 24%);
  // font-weight: 500;
  text-shadow:
    -0.4px -0.4px 0 hsl(208, 49%, 24%),
    0.4px -0.4px 0 hsl(208, 49%, 24%),
    -0.4px 0.4px 0 hsl(208, 49%, 24%),
    0.4px 0.4px 0 hsl(208, 49%, 24%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s ease-out;
}

#basic-nav-dropdown:hover {
  color: hsl(0, 0%, 100%);
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.dropdown-toggle.show {
  p {
    svg {
      transform: rotate(180deg);
      transition: all 300ms ease;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.rounded-pill,
.rounded-pill:hover {
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border-color: transparent;
  width: 150px;
  height: 50px;
}

.border-white {
  border-color: hsl(0, 0%, 100%);
}

.white,
.border-white:hover {
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
}

.white:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsla(240, 2%, 79%, 0.3);
  border-color: hsla(240, 2%, 79%, 0.1);
}

#arrow {
  margin-left: 5px;
}

.navbar-toggler {
  border: none;

  .navbar-toggler-icon {
    background-image: url("../assets/icon-hamburger.svg");
  }
}

#basic-navbar-nav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  background-color: hsl(0, 0%, 100%);

  #basic-nav-dropdown {
    color: hsl(208, 49%, 24%);
  }
}

@media (max-width: 1440px) {
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url('../assets/icon-close.svg');
    }
  }

  .navbar-toggler.collapsed {
    .navbar-toggler-icon {
      background-image: url('../assets/icon-hamburger.svg');
    }
  }

  #basic-navbar-nav {
    width: 90%;
    left: 5%;
    border-radius: 2.5%;

    .navbar-nav {
      width: 100%;
      border-radius: 2.5%;
      padding: 15px 30px;
      background-color: hsl(0, 0%, 100%);
      
      .nav-item.dropdown.show {
        p {
          color: hsl(207, 13%, 34%);
        }
      }
      .nav-item.dropdown {
        a {
          margin: 0 !important;
          padding: 15px 0 15px 0;
          display: flex;
          justify-content: center;
  
          p {
            font-weight: 500;
  
            svg {
              margin-left: 5px;
            }
          }
        }

        .dropdown-menu {
          border: none;
          background-color: hsla(240, 2%, 79%, 0.3);

          a {
            color: hsl(207, 13%, 34%);
            font-weight: 500;
          }
        }
      }
  
      hr {
        margin: 15px 0;
        color: hsl(240, 2%, 79%);
      }
  
      button {
        font-weight: 500;
        background: linear-gradient(to right, hsla(13, 100%, 72%, 0.9), hsla(365, 100%, 64%, 0.9));
        margin-bottom: 15px;
      }
  
      button:first-of-type {
        font-weight: 500;
        color: hsl(208, 49%, 24%);
        background: none;
      }
    }
  }
}