@import url('https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom');
@import 'header';
@import 'body';
@import 'footer';

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  margin-bottom: 0;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

.container {
  max-width: 1440px;
}