@import url('https://fonts.google.com/specimen/Overpass?preview.text_type=custom');
@import url('https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom');
@import 'header';
@import 'body';
@import 'footer';

* {
  font-family: Ubuntu;
}

h2 {
  margin-bottom: 0;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}